@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Marco Bräutigam<br />
    Technische Hochschule Ingolstadt<br />
   
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mab6887@thi.de">Support@example.com</a><br />
   
</address>